<?xml version="1.0"?>

<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--
    <gazebo reference="base_link">
        <pose>0 0 0 0 0 0</pose>
    </gazebo>
    -->

    <gazebo reference="FR_wheel">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>10</maxVel>
        <fDir1>1 0 0</fDir1>
    </gazebo>

    <gazebo reference="FL_wheel">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>10</maxVel>
        <fDir1>1 0 0</fDir1>
    </gazebo>

    <gazebo reference="RR_wheel">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>10</maxVel>
        <fDir1>1 0 0</fDir1>
    </gazebo>
    
    <gazebo reference="RR_wheel_joint">
        <velocity>0.0</velocity> <!-- initial velocity -->
        <damping>0.5</damping> <!-- helps stability -->
        <maxVel>10.0</maxVel> <!-- limit -->
        <minDepth>0.01</minDepth>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>

    <gazebo reference="RL_wheel">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>10</maxVel>
        <fDir1>1 0 0</fDir1>
    </gazebo>

    <gazebo reference="RL_wheel_joint">
        <velocity>0.0</velocity> <!-- initial velocity -->
        <damping>0.5</damping> <!-- helps stability -->
        <maxVel>10.0</maxVel> <!-- limit -->
        <minDepth>0.01</minDepth>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>

    <gazebo>
        <xacro:if value="$(arg is_ignition)">
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find car_controller)/config/ackermann_param.yaml</parameters>
            </plugin>
        </xacro:if>

        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find car_controller)/config/ackermann_param.yaml</parameters>
            </plugin>
        </xacro:unless>
    </gazebo>

    <gazebo>
        <plugin filename="ignition-gazebo-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint>steering_joint_fr</joint>
            <joint>steering_joint_fl</joint>
            <joint>FR_wheel_joint</joint>
            <joint>FL_wheel_joint</joint>
            <joint>RR_wheel_joint</joint>
            <joint>RL_wheel_joint</joint>
        </plugin>
    </gazebo>

</robot>