<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="car">

    <xacro:arg name="is_ignition" default="true"/>
    <!--include Gazebo parameters -->
    <xacro:include filename="$(find car_description)/urdf/car_gazebo.xacro"/>

     <!--include ros control parameters -->
    <xacro:include filename="$(find car_description)/urdf/car_ros2_control.xacro"/>
    

    <link name="base_footprint"/>


    <link name="base_link">
    <inertial>
        <origin
            xyz="0.0 0 -0.15"
            rpy="1.5708 0.0 -1.5708" />
        <mass
            value="1500" />
        <inertia
            ixx="1250"
            ixy="0"
            ixz="0"
            iyy="1400"
            iyz="0"
            izz="500" />
        </inertial>      
        <visual>
            <origin rpy="1.57 0 -1.57" xyz= "1.5 0.917885 -0.5"/>
            <geometry>
                <mesh filename="package://car_description/meshes/ego_cyber.STL"/>
            </geometry>
            <material name="red">
                <color rgba="0.863 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin rpy="1.57 0 -1.57" xyz= "1.5 0.917885 -0.5"/>
            <geometry>
                <mesh filename="package://car_description/meshes/ego_cyber.STL"/>
            </geometry>
        </collision>

    </link>
 
    <joint name="base_joint" type="fixed">
     <parent link="base_footprint"/>
     <child link="base_link"/>
     <origin xyz="0.0 0.0 0.75" rpy="0.0 0.0 0.0"/>
    
    </joint>

    <link name="steering_link_fr">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <mass
                value="0.001" />
            <inertia
                ixx="0.1"
                ixy="0.0"
                ixz="0.0"
                iyy="0.1"
                iyz="0.0"
                izz="0.1" />
        </inertial>
    </link>
    <joint name="steering_joint_fr" type="continuous">
        <parent link="base_link"/>
        <child link="steering_link_fr"/>
        <axis xyz="0.0 0.0 1.0"/>
        <origin xyz="0.5 -0.6 -0.5" rpy="0.0 0.0 0.0"/>
        
    </joint>

    <link name="FR_wheel">
        <inertial>
        <origin
            xyz="0 0 0"
            rpy="1.5708 0.0 -1.5708" />
        <mass
            value="20" />
        <inertia
            ixx="0.2"
            ixy="0.0"
            ixz="0.0"
            iyy="0.4"
            iyz="0.0"
            izz="0.4" />
        </inertial>
        <visual>
            <origin xyz="-0.25 -0.15 -0.25" rpy="0.0  0.0 0"/>
            <geometry>
                <mesh filename="package://car_description/meshes/wheel.STL"/>
            </geometry>
            <material name="black">
                <color rgba="0.012 0.012 0.008 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0.0  0.0 0"/>
            <geometry>
                <sphere radius="0.25"/>
            </geometry>
        </collision>

    </link>
               
    <joint name="FR_wheel_joint" type="continuous">
        <parent link="steering_link_fr"/>
        <child link="FR_wheel"/>
        <axis xyz="0.0 1.0 0.0"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>              

    </joint>

    <link name="steering_link_fl">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <mass
                value="0.001" />
            <inertia
                ixx="0.1"
                ixy="0.0"
                ixz="0.0"
                iyy="0.1"
                iyz="0.0"
                izz="0.1" />
        </inertial>
    </link>
    <joint name="steering_joint_fl" type="continuous">
        <parent link="base_link"/>
        <child link="steering_link_fl"/>
        <axis xyz="0.0 0.0 1.0"/>
        <origin xyz="0.5 0.6 -0.5" rpy="0.0 0.0 0.0"/>
        
    </joint>

    <link name="FL_wheel">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="1.5708 0.0 -1.5708" />
            <mass
                value="20" />
            <inertia
            ixx="0.2"
            ixy="0.0"
            ixz="0.0"
            iyy="0.4"
            iyz="0.0"
            izz="0.4" />
        </inertial>
        <visual>
            <origin xyz="-0.25 -0.15 -0.25" rpy="0.0  0.0 0"/>
            <geometry>
                <mesh filename="package://car_description/meshes/wheel.STL"/>
            </geometry>
            <material name="black">
                <color rgba="0.012 0.012 0.008 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0.0  0.0 0"/>
            <geometry>
                <sphere radius="0.25"/>
            </geometry>
        </collision>

    </link>
               
    <joint name="FL_wheel_joint" type="continuous">
        <parent link="steering_link_fl"/>
        <child link="FL_wheel"/>
        <axis xyz="0.0 1.0 0.0"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>              

    </joint>



    <link name="RR_wheel">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="1.5708 0.0 -1.5708" />
            <mass
                value="20" />
             <inertia
            ixx="0.2"
            ixy="0.0"
            ixz="0.0"
            iyy="0.4"
            iyz="0.0"
            izz="0.4" />
        </inertial>
        <visual>
            <origin xyz="-0.25 -0.15 -0.25" rpy="0.0  0.0 0"/>
            <geometry>
                <mesh filename="package://car_description/meshes/wheel.STL"/>
            </geometry>
            <material name="black">
                <color rgba="0.012 0.012 0.008 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0.0  0.0 0"/>
            <geometry>
                <sphere radius="0.25"/>
            </geometry>
        </collision>

    </link>
               
    <joint name="RR_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="RR_wheel"/>
        <axis xyz="0.0 1.0 0.0"/>
        <origin xyz="-1.05 -0.6 -0.5" rpy="0.0 0.0 0.0"/>              

    </joint>

    <transmission name="RR_wheel_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="RR_wheel_joint">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="RR_wheel_motor">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <link name="RL_wheel">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="1.5708 0.0 -1.5708" />
            <mass
                value="20" />
             <inertia
            ixx="0.2"
            ixy="0.0"
            ixz="0.0"
            iyy="0.4"
            iyz="0.0"
            izz="0.4" />
        </inertial>
        <visual>
            <origin xyz="-0.25 -0.15 -0.25" rpy="0.0  0.0 0"/>
            <geometry>
                <mesh filename="package://car_description/meshes/wheel.STL"/>
            </geometry>
            <material name="black">
                <color rgba="0.012 0.012 0.008 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0.0  0.0 0"/>
            <geometry>
                <sphere radius="0.25"/>
            </geometry>
        </collision>

    </link>
               
    <joint name="RL_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="RL_wheel"/>
        <axis xyz="0.0 1.0 0.0"/>
        <origin xyz="-1.05 0.6 -0.5" rpy="0.0 0.0 0.0"/>              

    </joint>

    <transmission name="RL_wheel_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="RL_wheel_joint">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="RL_wheel_motor">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <link name="ack_fr">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <mass
                value="0.001" />
            <inertia
                ixx="0.1"
                ixy="0.0"
                ixz="0.0"
                iyy="0.1"
                iyz="0.0"
                izz="0.1" />
        </inertial>
    </link>
    <joint name="ack_fr_joint" type="continuous">
        <parent link="base_link"/>
        <child link="ack_fr"/>
        <axis xyz="0.0 1.0 0.0"/>
        <origin xyz="0.5 -0.6 -0.5" rpy="0.0 0.0 0.0"/>
        
    </joint>

    <transmission name="ack_fr_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="ack_fr_joint">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="FR_wheel_motor">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <link name="ack_fl">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <mass
                value="0.001" />
            <inertia
                ixx="0.1"
                ixy="0.0"
                ixz="0.0"
                iyy="0.1"
                iyz="0.0"
                izz="0.1" />
        </inertial>
    </link>
    <joint name="ack_fl_joint" type="continuous">
        <parent link="base_link"/>
        <child link="ack_fl"/>
        <axis xyz="0.0 1.0 0.0"/>
        <origin xyz="0.5 0.6 -0.5" rpy="0.0 0.0 0.0"/>
        
    </joint>
    
    <transmission name="ack_fl_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="ack_fl_joint">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="FL_wheel_motor">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

</robot>