<?xml version="1.0"?>

<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control type="system" name="RobotSystem">
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <xacro:unless value="$(arg is_ignition)">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:unless>

        <joint name="steering_joint_fr" type="continuous">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <!--
        <joint name="FR_wheel_joint" type="continuous">
            <state_interface name="position"/>
        </joint>
        -->
        <joint name="steering_joint_fl" type="continuous">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <!--
        <joint name="FL_wheel_joint" type="continuous">
            <state_interface name="position"/>
        </joint>
        -->
        <joint name="RR_wheel_joint" type="continuous">
            <command_interface name="velocity"></command_interface>
            <state_interface name="position"></state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="RL_wheel_joint" type="continuous">
            <command_interface name="velocity"></command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

    </ros2_control>
    
</robot>